# Gradle files
.gradle/

# IntelliJ files
.idea/
*.iml

# Build files
build/
*.so
*.apk

# JNI
MapboxGLAndroidSDK/src/main/jniLibs/
MapboxGLAndroidSDK/src/main/obj.target/

# Lib assets
MapboxGLAndroidSDK/src/main/assets/styles/
MapboxGLAndroidSDK/src/main/assets/ca-bundle.crt

# Local settings
local.properties

# Token file
MapboxGLAndroidSDKTestApp/src/main/res/raw/token.txt

# Twitter Fabric / Crashlytics
fabric.properties
